

body {
    height: 100%;
    /* line-height: 1; */
    font-size: 18px;
    color: #000000;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

._container {
    max-width: 1022px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}

.header-panel {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 32px;
    height: 55px;
}

.header-panel__comments {
    display: flex;
    border-bottom: 3px solid;
    margin-right: 55px;
}

.header-panel__comments-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    padding-bottom: 5px;
}

.header-panel__comments-counter {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    opacity: 0.4;
    margin-left: 13px;
}

.header-panel__sort {
    display: flex;
}

.header-panel__sort-dropdown {
}

.header-panel__sort-text {
    font-size: 16px;
    line-height: 19px;
    opacity: 0.4;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.header-panel__dropdown-content {
    display: none;
    position: absolute;
    min-width: 229px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    padding: 8px;
    z-index: 1;
    cursor: pointer;
}

.header-panel__dropdown-content div {
    font-size: 16px;
    line-height: 19px;
    opacity: 0.4;
}

.sort-time {
}
.sort-rating {
}
.sort-answers{
}

.show {
    display:block;
}

.header-panel__sort-arrow {
    background-image: url('./images/arrow_down.svg');
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 7px;
    min-width: 18px;
}

/*.decrease {*/
/*    */
/*}*/

.increase {
    background-image: url('./images/arrow_up.svg');
}

.header-panel__favorites {
    display: flex;

}

.header-panel__favorites-text {
    font-size: 16px;
    line-height: 19px;
    opacity: 0.4;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    margin-left: 41px;
}

.header-panel__favorites-img {
    max-width: 21px;
    margin-left: 7px;
}

/* ------------------Блок ввода комментариев---------------------------------------- */

.input-block {
    display: flex;
    margin-bottom: 40px;
}

.input-block__user-logo {
}

.input-block__logo-img {

}

.user-logo-img {
    max-width: 61px;
    border-radius: 50%;
}

.input-block__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.input-block__other {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-block__user-name {
    display: flex;
}

.user-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #122AC0;
}

.input-block__parent-answer {
    display: none;
    margin-left: 15px;
}

/*Крестик удаляет на чей комментарий отвечаем*/
.input-block__parent-answer:hover::after {
    display: flex;
    content: "\00d7";
    color: rgba(0, 0, 0, 0.4);
}

.input-block__parent-answer-logo {
}

.input-block__parent-answer-img {
}

.input-block__parent-answer-text {
    margin-left: 15px;
    color: #000000;
    opacity: 0.4;
}

.input-block__counter-symbol {
    font-style: italic;
    font-size: 14px;
    line-height: 17px;
    opacity: 0.4;
}

.input-block__comment-input {
    display: flex;
}

.input-block__input {
    font-size: 18px;
    line-height: 22px;
    /*658 это за минусом падинга 30*/
    width: 658px;
    /* height: 61px; */
    border: none;
    border-radius: 5px;
    background-clip: padding-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    resize: none;
}

.input-block__input::placeholder {
    font-size: 18px;
    opacity: 0.4;
}

.input-block__input:focus {
    border-color: #FFFFFF;
    /* outline это рамка при клике */
    outline: 0; 
}

.input-main {
}

.input-block__btn {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.input-block__warning-long-text {
    font-size: 14px;
    line-height: 17px;
    color: #FF0000;
    margin-bottom: 30px;
    opacity: 0;
}

.input-block__btn-send {
    background-color: #ABD873;
    width: 213px;
    height: 61px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.input-block__btn-send:hover {
    box-shadow: 0px 2px 7px 2px rgba(141,150,178,.3);
}

.input-block__btn-send:disabled {
    background-color: #A1A1A1;
}

.input-block__btn-send:active {
    background-color: #b1e078;
    box-shadow: 2px 2px 5px rgba(141,150,178,.3);
}

.btn-send {

}

.input-block__input-name {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #122AC0;
    border: none;
    border-radius: 5px;
    background-clip: padding-box;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 5px;
}

.input-block__input-name:focus {
    border-color: #FFFFFF;
    outline: 0; 
    color: #122AC0;
}

.input-block__input-name::placeholder {
    font-size: 16px;
    opacity: 0.4;
}

@media (max-width: 1050px) {
    .input-block {
        flex-direction: column;
    }
}

@media (min-width: 420px) and (max-width: 480px) {
    .header-panel__comments {
        margin-right: 120px;
    }
}

@media (max-width: 480px) {
    ._container {
        padding: 0px 2px;
    }

    .header-panel {
        flex-wrap: wrap;
        margin-bottom: 47px;
    }

    .header-panel__comments {
        margin-bottom: 19px;
    }

    .header-panel__comments-counter {
        font-size: 18px;
        line-height: 22px;
    }

    .header-panel__sort-text {
        font-size: 14px;
        line-height: 17px;
    }
    .header-panel__sort-arrow {
        margin-left: 2px;
    }
    .header-panel__favorites-text {
        font-size: 14px;
        line-height: 17px;
        margin-left: 19px;
    }

    .input-block {
        margin-bottom: 24px;
    }

    .input-block__user-logo {
        position: relative;
    }

    .input-block__logo-img {
        position: absolute;
        top: -9px;
        top: -9px;
    }

    .user-logo-img {
        max-width: 50px;
    }

    .input-block__form {
        margin-left: 0;
    }

    .input-block__other {
        flex-direction: column;
        justify-content: normal;
        margin-bottom: 11px
    }

    .user-name {
        margin-left: 70px;
    }

    .input-block__parent-answer {
        margin-left: 5px;
    }

    .input-block__parent-answer-text {
        margin-left: 5px;
    }

    .input-block__counter-symbol {
        display: flex;
        flex-direction: row-reverse;
        font-size: 10px;
        line-height: 12px;
        margin-top: 5px;
    }

    .input-block__comment-input {
        margin-bottom: 18px;
    }

    .input-block__input {
        font-size: 14px;
        line-height: 17px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 20px;
    }

    .input-block__input::placeholder {
        font-size: 14px;
    }

    .input-block__btn {
        margin-left: 0;
    }

    .input-block__warning-long-text {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 0;
        text-align: center;
        order: 1;
    }

    .input-block__btn-send {
        height: 50px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 10px;
    }

    .input-block__input-name {
        min-width: 110px;
    }
}

/*--------------------Комментарий--------------------------------------*/

.comment {
    display: flex;
    margin-bottom: 28px;
}

.comment__user-logo {

}

.comment__user-logo-img {

}

.comment__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    width: 100%;
}

.comment__other{
    display: flex;
    margin-bottom: 15px;
}

.comment__user-name {

}

.comment__post-data {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    opacity: 0.4;
    margin-left: 15px;
}

.comment__text-block {
    margin-bottom: 15px;
}

.comment__body {
    line-height: 22px;
    /*перенос слова на след строку, если оно длинное*/
    word-break: break-all;
    margin: 0px;
}

.comment__body-for-mobile {
}

.comment__footer {
    display: flex;
}

.comment__footer-answer {
    display: flex;
}

.favorites-btn {
    display: flex;
}

.comment__footer-answer-img {
}

.comment__footer-answer-text {
    line-height: 22px;
    opacity: 0.4;
    margin-left: 10px;
}

.comment__footer-favorites {
    margin-left: 20px;
}


.comment__footer-favorites-logo {
    background-image: url('./images/favorites_comment_off.svg');
    background-repeat: no-repeat;
    background-position: center center;
    min-width: 20px;
}

.logo-active {
    background-image: url('./images/favorites_comment_active.svg');
}

.comment__footer-favorites-text {
    line-height: 22px;
    opacity: 0.4;
    margin-left: 7px;
}

.comment__footer-rating {
    display: flex;
    font-weight: 500;
    line-height: 22px;
    margin-left: 30px;
}

.rating-minus-img {

}

.rating-count{
    color: rgba(0, 0, 0, .4);
    margin: 0 10px;
}

.rating-plus-img{

}

@media (max-width: 480px) {
    .comment {
        display: block;
        margin-top: 14px;
    }

    .comment__user-logo {
        position: relative;
    }

    .comment__user-logo-img {
        position: absolute;
        top: -14px;
    }

    .comment__form {
        margin-left: 0;
    }

    .comment__other{
        margin-bottom: 15px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .comment__post-data {
        font-size: 12px;
        line-height: 15px;
        margin-left: 29px;
    }

    .comment__text-block {
        margin-bottom: 3px;
    }

    .comment__body {
        font-size: 16px;
        line-height: 19px;
    }

    .comment__body-for-mobile {
        margin-top: 14px;
    }

    .comment__footer {
        align-items: center;
    }

    .comment__footer-answer-img {
        height: 19px;
    }

    .comment__footer-answer-text {
        font-size: 16px;
        line-height: 19px;
    }

    .comment__footer-favorites {
        margin-left: 15px;
    }

    .comment__footer-favorites-logo {
        min-width: 20px;
        height: 19px;
    }

    .logo-active {

    }

    .comment__footer-favorites-text {
        font-size: 16px;
        line-height: 19px;
    }

    .comment__footer-rating {
        flex-direction: column-reverse;
        margin-left: 16px;
    }

    .rating-minus-img {
        height: 20px;
    }

    .rating-count {
        margin: 0 auto;
    }

    .rating-plus-img{
        height: 20px;
    }
}

/*--------------------Ответ-на-комментарий------------------------------*/
.answers {
    /*В этом диве лежат все отсветы на 1 комментарий*/
}

.answer {
    margin-left: 100px;
}

.comment__other__answer-to {
    display: flex;
    margin-left: 15px;
}

.comment__other__answer-to-logo {
}

.comment__other__answer-to-img {
}

.comment__other__answer-to-text {
    margin-left: 15px;
    opacity: 0.4;
}

.answer__footer-favorites {

}

@media (max-width: 480px) {
    .answer {
        margin-left: 0;
    }

    .comment__other__answer-to {
        width: 100%;
        margin-left: 70px;
        order: 1;
        padding-top: 10px;
    }
}